<thead>
  <tr class="category-table-row">
    <td colspan="6" class="nforumcaption">
      <span class="category-heading-text">
        <%= category.name %>
      </span>
      <div class="btn-group">
        <%= render(EditButtonComponent.new(record: category, policy: policy(category))) %>
        <%= render(DeleteButtonComponent.new(record: category, policy: policy(category))) %>
      </div>
    </td>
  </tr>

  <tr>
    <td colspan="2" style="text-align:center" class="nforumcaption2">Forums</td>
    <td style="text-align:center" class="nforumcaption2"><%= t("topics") %></td>
    <td style="text-align:center" class="nforumcaption2"><%= t("replies") %></td>
    <td style="text-align:center; width: fit-content; white-space: nowrap;" class="nforumcaption2"><%= t("last_comment") %></td>
    <% if current_user&.admin? %>
      <td style="text-align:center" class="nforumcaption2"><%= t("actions") %></td>
    <% end %>
  </tr>
</thead>