<!-- Page title -->
<% content_for :title, "Forums" %>

<!-- Page content -->
<%= render(CardComponent.new(title: t("forums"))) do %>
  <% @categories.each do |category| %>
    <table class="nforumholder">
      <%= render("forums/table_header", category: category) %>
      <%= render("forums/table_body", category: category) %>
    </table>
  <% end %>
  <div class="btn-group">
    <% if current_user&.admin? %>
      <%= link_to t("new_category"),
      new_category_path,
      class: "btn",
      id: "new_category_link" %>
      <%= link_to t("new_forum"), new_forum_path, class: "btn" %>
    <% end %>
  </div>
<% end %>
