<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span><%= t("forums") %></span>
    </div>
  </div>
  <div class="card-body">
    <% @categories.each do |category| %>
      <table class="nforumholder">
        <tbody>
          <tr>
            <td colspan="6" class="nforumcaption">
              <%= category.name %>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width:60%; text-align:center" class="nforumcaption2">Forums</td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("topics") %></td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("replies") %></td>
            <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("last_comment") %></td>
            <% if current_user&.admin? %>
              <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("actions") %></td>
            <% end %>
          </tr>
          <% category.forums.each do |forum| %>
            <tr>
              <td style="width:5%; text-align:center" class="nforumcaption3">
                <%= image_tag("nonew.png") %>
              </td>
              <td class="nforumcaption3">
                <%= link_to forum.name, [category, forum], class: "category-title" %>
                <br/>
                <span class="smallblacktext">
                  <%= forum.description %>
                </span>
              </td>
              <td style="width: 10%; text-align: center;" class="nforumthread">
                <%= forum.total_topics %>
              </td>
              <td style="width: 10%; text-align: center;" class="nforumthread">
                <%= forum.total_comments %>
              </td>
              <td style="width: 20%; text-align: center;" class="nforumthread">
                <span class="smallblacktext">
                  <% if forum.topics.last && forum.topics.last.comments.last %>
                    <%= link_to(
                      forum.topics.last.title,
                      [forum, forum.topics.last, forum.topics.last.comments.last],
                      anchor: "comment-#{forum.topics.last.comments.last.id}",
                    ) %>
                  <% else %>
                    <%= t("no_comments_yet") %>
                  <% end %>
                </span>
              </td>
              <% if current_user&.admin? %>
                <td style="width: 20%; text-align: center;" class="nforumthread">
                  <div class="btn-group">
                    <% if policy(forum).edit? %>
                      <%= link_to t("edit"), edit_forum_path(forum), class: "btn" %>
                    <% end %>
                    <% if policy(forum).destroy? %>
                      <%= button_to t("delete"),
                      forum,
                      class: "btn",
                      method: :delete,
                      data: {
                        confirm: t("are_you_sure"),
                        turbo_confirm: t("are_you_sure"),
                      } %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot class="category-footer">
          <div class="btn-group">
            <% if policy(category).destroy? %>
              <%= button_to t("delete"),
              category,
              class: "btn",
              method: :delete,
              data: {
                confirm: t("are_you_sure"),
                turbo_confirm: t("are_you_sure"),
              } %>
            <% end %>
            <% if policy(category).edit? %>
              <%= link_to t("edit"), edit_category_path(category), class: "btn" %>
            <% end %>
          </div>
        </tfoot>
      </table>
    <% end %>
  </div>
  <div class="btn-group">
    <% if current_user&.admin? %>
      <%= link_to t("new_category"), new_category_path, class: "btn" %>
      <%= link_to t("new_forum"), new_forum_path, class: "btn" %>
    <% end %>
  </div>
</div>
