<div class="spacer" id="comment-<%= comment.id %>">
  <table style="width:100%" class="nforumholder" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="nforumcaption3" style="vertical-align:middle; width:20%;">
          <b>
            <%= link_to comment.user.username, user_url(comment.user) %>
          </b>
        </td>
        <td class="nforumcaption3" style="vertical-align:middle; width:80%;">
          <table cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
              <tr>
                <td class="smallblacktext">
                  <a id="" href="">
                    <%= image_tag("post.png") %>
                  </a>
                  <%= comment.created_at.strftime("%d %b %Y at %I:%M %p") %>
                </td>
                <td style="text-align:right">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <%= render(UserCardComponent.new(user: comment.user)) %>
        <td class="nforumthread" style="vertical-align:top">
          <% if comment.parent_comment %>
            <div class="indent">
              <em>
                <%= comment.parent_comment.user.username %>
                <%= t("wrote") %>
              </em>
              ...
              <br>
              <br>
              <%= comment.parent_comment.content %>
              <br>
            </div>
          <% end %>
          <br>
          <%= comment.content %>
          <br>
          <% if comment.user&.signature %>
            <hr style="width:15%; text-align:left">
            <span class="smalltext">
              <%= comment.user.signature %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="nforumthread2"><span class="smallblacktext"><%= link_to t("back_to_top"),
            nil,
            id: "back-to-top",
            onclick: "window.scrollTo({top: 0, behavior: 'smooth'});" %>
          </span>
        </td>
        <td class="nforumthread2" style="vertical-align:top">
          <table cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
              <tr>
                <td style="text-align:right">

                  <div class="btn-group">
                    <% if policy(comment).create? %>
                      <%= link_to new_topic_comment_path(@topic, parent_comment_id: comment.id),
                                  class: "btn",
                                  data: { turbo_frame: "new_comment_#{comment.id}" } do %>
                        <%= t("comments.actions.reply") %>
                      <% end %>
                    <% end %>

                    <% if policy(comment).edit? %>
                      <%= link_to edit_topic_comment_path(@topic, comment),
                                  class: "btn",
                                  data: { turbo_frame: "comment_#{comment.id}" } do %>
                        <%= t("comments.actions.edit") %>
                      <% end %>
                    <% end %>

                    <% if policy(comment).destroy? %>
                      <%= button_to [@topic, comment],
                                    class: "btn",
                                    method: :delete,
                                    form: { data: { turbo_confirm: t("comments.confirmation.delete") } } do %>
                        <%= t("comments.actions.delete") %>
                      <% end %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
