<%= form_with(model: [@topic, comment], local: true) do |form| %>
  <%= render(ErrorMessagesComponent.new(resource: comment)) %>

  <%= form.hidden_field :parent_comment_id, value: @parent_comment_id %>

  <div class="stack">
    <%= form.label t("reply") %>
    <%= form.text_area :content %>
  </div>

  <div class="btn-group">
    <%= form.submit t("submit"), class: "btn" %>
  </div>
<% end %>
