<tr>
  <td style="width:5%; text-align:center" class="nforumcaption3">
    <%= image_tag("nonew.png") %>
  </td>
  <td class="nforumcaption3">
    <%= link_to @forum.name, [@forum.category, @forum], class: "category-title" %>
    <br/>
    <span class="smallblacktext">
      <%= @forum.description %>
    </span>
  </td>
  <td style="width: 10%; text-align: center;" class="nforumthread">
    <%= @forum.total_topics %>
  </td>
  <td style="width: 10%; text-align: center;" class="nforumthread">
    <%= @forum.total_comments %>
  </td>
  <td style="width: 20%; text-align: center;" class="nforumthread">
    <span class="smallblacktext">
      <% if @forum.topics.last && @forum.topics.last.comments.last %>
        <%= link_to(
          "#{@forum.topics.last.comments.last.user.username} #{time_ago_in_words(@forum.topics.last.comments.last.created_at)} ago",
          [@forum, @forum.topics.last],
          anchor: "comment-#{@forum.topics.last.comments.last.id}",
        ) %>
      <% else %>
        <%= t("no_comments_yet") %>
      <% end %>
    </span>
  </td>
  <% if current_user&.admin? %>
    <td style="width: 20%; text-align: center;" class="nforumthread">
      <div class="btn-group">
        <%= render(EditButtonComponent.new(record: forum, policy: policy(forum))) %>
        <%= render(DeleteButtonComponent.new(record: forum, policy: policy(forum))) %>
      </div>
    </td>
  <% end %>
</tr>
