<%= form_with(model: [@category, topic], local: true) do |form| %>
  <% if topic.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(topic.errors.count, "error") %>
        <%= t("prohibited_this_topic_from_being_saved") %>:</h2>
      <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="stack">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="stack">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="stack">
    <%= form.label :sticky %>
    <%= form.check_box :sticky %>

    <%= form.label :announcement %>
    <%= form.check_box :announcement %>
  </div>

  <div class="btn-group">
    <%= link_to t("go_back"), :back, class: "btn" %>
    <%= form.submit t("submit"), class: "btn" %>
  </div>
<% end %>
