<%= form_with(model: [@forum, topic], local: true) do |form| %>
  <% if topic.errors.any? %>
    <div class="error_messages">
      <h2><%= pluralize(topic.errors.count, "error") %>
        <%= t("prohibited_this_topic_from_being_saved") %>:</h2>
      <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br/>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  <br/>
  <div>
    <%= form.label :content %>
    <%= form.text_area :content,
                   id: "markdown-editor",
                   style: "width: 100%; padding: 4px;",
                   rows: 8,
                   maxlength: 5000,
                   placeholder: "Write something here..." %>
  </div>

  <div>
    <%= form.label :sticky %>
    <%= form.check_box :sticky %>

    <%= form.label :announcement %>
    <%= form.check_box :announcement %>
  </div>

  <div class="btn-group">
    <%= link_to t("go_back"), :back, class: "btn" %>
    <%= form.submit t("submit"), class: "btn" %>
  </div>
<% end %>

<script>
document.addEventListener('turbo:load', initializeEasyMDE);
document.addEventListener('turbo:before-cache', cleanupEasyMDE);

function initializeEasyMDE() {
  if (!document.getElementById('markdown-editor') || window.easymde) return;

  window.easymde = new EasyMDE({
    element: document.getElementById('markdown-editor'),
    showIcons: ["code", "table"],
    status: true,
    autofocus: true,
    autosave: {
      enabled: true,
      uniqueId: "topic",
      delay: 1000,
    },
  });
}

function cleanupEasyMDE() {
  if (window.easymde) {
    window.easymde.toTextArea();
    window.easymde = null;
  }
}
</script>
