<%= form_with(model: [@forum, topic], local: true) do |form| %>
  <%= render(ErrorMessagesComponent.new(resource: topic)) %>

  <div class="stack">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="stack">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="stack">
    <%= form.label :sticky %>
    <%= form.check_box :sticky %>

    <%= form.label :announcement %>
    <%= form.check_box :announcement %>
  </div>

  <div class="btn-group">
    <%= link_to t("go_back"), :back, class: "btn" %>
    <%= form.submit t("create_topic"), class: "btn" %>
  </div>
<% end %>
