<div class="card-body">
  <%= render "shared/breadcrumbs" %>
  <h1><%= @topic.title %></h1>
  <p><%= @topic.content %></p>

  <% if @topic.posts.any? %>
    <br/>
    <hr/>
    <br/>
    <% @topic.posts.each do |post| %>
      <div class="post">
        <p class="post-info">
          Posted by
          <%= link_to post.user.username, user_url(post.user) %>
          on
          <%= post.created_at.strftime("%d %b %Y at %I:%M %p") %>
        </p>
        <div class="post-content">
          <%= post.content %>
        </div>
      </div>
    <% end %>
  <% else %>
    <br/>
    <hr/>
    <br/>
    <p>There are no comments in this topic yet.</p>
  <% end %>
</div>
<% if policy(@topic).create_post? %>
  <%= render "posts/form", post: @topic.posts.build %>
<% end %>
