<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span><%= current_section.capitalize %></span>
    </div>
  </div>
  <div class="card-body">
    <h1><%= @user.username %></h1>

    <br/>
    <h2><%= t("recent_activity") %></h2>

    <% if @recent_topics_opened.any? || @recent_posts.any? %>
      <% if @recent_topics_opened.any? %>
        <h3><%= t("threads_opened") %>
          (<%= @user.topics.count %>)</h3>
        <ul>
          <% @recent_topics_opened.each do |topic| %>
            <li>
              <%= link_to topic.title, category_topic_path(topic.category, topic) %>
              <small class="timestamp">
                (<%= topic.created_at.strftime("%d %b %Y at %I:%M %p") %>)</small>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% if @recent_posts.any? %>
        <h3><%= t("recent_comments") %>
          (<%= @user.posts.count %>)</h3>
        <ul>
          <% @recent_posts.each do |post| %>
            <li>
              <%= link_to truncate(post.content, length: 50), topic_post_path(post.topic, post) %>
              (in
              <%= link_to post.topic.title, category_topic_path(post.topic.category, post.topic) %>)
              <small class="timestamp">
                (<%= post.created_at.strftime("%d %b %Y at %I:%M %p") %>)</small>
            </li>
          <% end %>
        </ul>
      <% end %>
    <% else %>
      <p class="text-muted"><%= t("no_recent_activity_to_display") %>.</p>
    <% end %>
  </div>
</div>
