<aside class="sidebar">
  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Main Menu</span>
      </div>
    </div>
    <div class="card-body">
      <ul>
        <li>
          <%= image_tag("bullet2.gif") %>
          <%= link_to "Home", root_path %>
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          <%= link_to "Forum", categories_path %>
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          Members
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          Member Map
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          HvWiki
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          Chat Room
        </li>
        <li>
          <%= image_tag("bullet2.gif") %>
          <%= link_to "Site Rules", site_rules_path %>
        </li>
      </ul>
    </div>
  </div>

  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Welcome</span>
      </div>
    </div>
    <div class="card-body">
      <div style="text-align: center">
        <% if user_signed_in? %>
          <div style="margin-bottom: 4px;">
            Welcome
            <%= link_to current_user.username, current_user %>
          </div>
          <div>
            <div class="spacer">
              <% if current_user&.admin? %>
                <%= image_tag("lev10.png") %>
                <br />
                <%= image_tag("English_main_admin.png") %>
              <% elsif current_user&.moderator? %>
                <%= image_tag("lev10.png") %>
                <br />
                <%= image_tag("English_moderator.png") %>
              <% else %>
                <%= image_tag("lev3.png") %>
                <br />
                <span class="smalltext">Registered Member #1749</span>
              <% end %>
            </div>
            <%= button_to "Sign out",
            destroy_user_session_path,
            method: :delete,
            class: "link-button" %>
          </div>
        <% else %>
          <%= render "devise/sessions/new" %>
          <div>
            [
            <%= link_to "Sign up", new_user_registration_path %>
            ]
          </div>
          <div>
            [
            <%= link_to "Forgot password?", new_user_password_path %>
            ]
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Online</span>
      </div>
    </div>
    <div class="card-body">
      <ol class="online-stats">
        <li>
          Online Guests:
          <%= @online_guests_count %>
        </li>
        <li>
          Members:
          <%= @online_members_count %>
        </li>
        <li>
          Newest Member:
          <%= @newest_member&.username %>
        </li>
        <li>
          Most ever online:
          <%= @most_ever_online %>
        </li>
      </ol>
    </div>
  </div>

  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Members Birthdays:</span>
      </div>
    </div>
    <div class="card-body">
      <td class="bodymain">
        <% if User.todays_birthdays.any? %>
          One birthday today, congrats!<br>
          <% User.todays_birthdays.each do |user| %>
            <%= link_to "#{user.username} (#{age(user)})", user_path(user) %><br>
          <% end %>
        <% end %>
        Next birthdays
        <% User.upcoming_birthdays.each do |user| %>
          <%= user.date_of_birth.to_char("MM/DD") %>
          <%= link_to "#{user.username} (#{age(user)})", user_path(user) %><br>
        <% end %>
      </td>
    </div>
  </div>

  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Contact</span>
      </div>
    </div>
    <div class="card-body">
      If you need assistance, please send an email to forum at 4hv dot org. To
      ensure your email is not marked as spam, please include the phrase "4hv
      help" in the subject line. You can also find assistance via IRC, at
      irc.shadowworld.net, room #hvcomm.
    </div>
  </div>

  <div class="custom-card">
    <div class="card-header">
      <div class="header-content">
        <%= image_tag("bullet.png") %>
        <span>Support 4hv.org!</span>
      </div>
    </div>
    <div class="card-body">
      Donate: 4hv.org is hosted on a dedicated server. Unfortunately, this
      server costs and we rely on the help of site members to keep 4hv.org
      running. Please consider donating. We will place your name on the thanks
      list and you'll be helping to keep 4hv.org alive and free for everyone.
      Members whose names appear in red bold have donated recently. Green bold
      denotes those who have recently donated to keep the server carbon
      neutral.
      <br/>
      <%= image_tag("paypal.gif") %>
    </div>
  </div>
</aside>
