<div class="spacer" id="comment-<%= comment.id %>">
  <table style="width:100%" class="nforumholder" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="nforumcaption3" style="vertical-align:middle; width:20%;">
          <b>
            <%= link_to comment.user.username, user_url(comment.user) %>
          </b>
        </td>
        <td class="nforumcaption3" style="vertical-align:middle; width:80%;">
          <table cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
              <tr>
                <td class="smallblacktext">
                  <a
                    id="comment_66241"
                    href="http://4hv.org/e107_plugins/forum/forum_viewtopic.php?66241.comment"
                  >
                    <%= image_tag("comment.png") %>
                  </a>
                  <%= comment.created_at.strftime("%d %b %Y at %I:%M %p") %>
                </td>
                <td style="text-align:right">
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td class="nforumthread" style="vertical-align:top">
          <div class="spacer">
            <%= image_tag("blank_avatar.jpg") %>
          </div>
          <br>
          <span class="smalltext">
            <%= image_tag("lev10.png") %>
            <div class="spacer">
              <% if current_user&.admin? %>
                <%= image_tag("English_main_admin.png") %>
              <% else %>
                <%= image_tag("English_moderator.png") %>
              <% end %>
            </div>
            <span class="smalltext">
              <%= t("registered_member", number: comment.user.id) %>
            </span>
            <br>
            <%= t("joined") %>: Thu Oct 09 2008, 09:04PM
            <br>
            <%= t("location") %>: Claremont New Hampshire
            <br>
            <%= t("comments") %>: 270
            <br>
          </span>
        </td>
        <td class="nforumthread" style="vertical-align:top">
          <% if comment.parent_comment %>
            <div class="indent">
              <em>
                <%= comment.parent_comment.user.username %>
                <%= t("wrote") %>
              </em>
              ...
              <br>
              <br>
              <%= comment.parent_comment.content %>
              <br>
            </div>
          <% end %>
          <br>
          <%= comment.content %>
          <br>
          <% if comment.user&.signature %>
            <hr style="width:15%; text-align:left">
            <span class="smalltext">
              <%= comment.user.signature %>
            </span>
          <% end %>
        </td>
      </tr>
      <tr>
        <td class="nforumthread2"><span class="smallblacktext"><%= link_to t("back_to_top"),
            nil,
            id: "back-to-top",
            onclick: "window.scrollTo({top: 0, behavior: 'smooth'});" %>
          </span>
        </td>
        <td class="nforumthread2" style="vertical-align:top">
          <table cellspacing="0" cellpadding="0" style="width:100%">
            <tbody>
              <tr>
                <td style="text-align:right">
                  <div class="btn-group">
                    <% if authorized_to_create?(comment) %>
                      <%= link_to t("reply"),
                      new_topic_comment_path(@topic, parent_comment_id: comment.id),
                      class: "btn btn" %>
                    <% end %>

                    <% if authorized_to_edit?(comment) %>
                      <%= link_to t("edit"), edit_topic_comment_path(@topic, comment), class: "btn" %>
                    <% end %>

                    <% if authorized_to_destroy?(comment) %>
                      <%= button_to t("delete"),
                      [@topic, comment],
                      class: "btn",
                      method: :delete,
                      data: {
                        confirm: t("are_you_sure"),
                        turbo_confirm: t("are_you_sure"),
                      } %>
                    <% end %>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</div>
