<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span><%= t("forums") %></span>
    </div>
  </div>
  <div class="card-body">
    <% @category_groups.each do |category_group| %>
      <table class="nforumholder">
        <tbody>
          <tr>
            <td colspan="6" class="nforumcaption">
              <%= category_group.name %>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width:60%; text-align:center" class="nforumcaption2">Forums</td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("topics") %></td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("replies") %></td>
            <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("last_post") %></td>
            <% if @current_user&.admin? %>
              <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("actions") %></td>
            <% end %>
          </tr>
          <% category_group.categories.each do |category| %>
            <tr>
              <td style="width:5%; text-align:center" class="nforumcaption3">
                <%= image_tag("nonew.png") %>
              </td>
              <td class="nforumcaption3">
                <%= link_to category.name, [category_group, category], class: "category-title" %>
                <br/>
                <span class="smallblacktext">
                  <%= category.description %>
                </span>
              </td>
              <td style="width: 10%; text-align: center;" class="nforumthread">
                <%= category.total_topics %>
              </td>
              <td style="width: 10%; text-align: center;" class="nforumthread">
                <%= category.total_posts %>
              </td>
              <td style="width: 20%; text-align: center;" class="nforumthread">
                <span class="smallblacktext">
                  <% if category.last_post_info %>
                    <%= link_to category.last_post_info,
                    category_topic_path(
                      category,
                      category.topics.last,
                      category.topics.last.posts.last,
                      anchor: "post-#{category.topics.last.posts.last.id}",
                    ) %>
                  <% else %>
                    <%= t("no_posts_yet") %>
                  <% end %>
                </span>
              </td>
              <% if current_user&.admin? %>
                <td style="width: 20%; text-align: center;" class="nforumthread">
                  <div class="btn-group">
                    <% if policy(category).edit? %>
                      <%= link_to t("edit"), edit_category_path(category), class: "btn" %>
                    <% end %>
                    <% if policy(category).destroy? %>
                      <%= button_to t("delete"),
                      category,
                      class: "btn",
                      method: :delete,
                      data: {
                        confirm: t("are_you_sure"),
                        turbo_confirm: t("are_you_sure"),
                      } %>
                    <% end %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
        <tfoot class="category-footer">
          <div>
            <% if policy(category_group).destroy? %>
              <%= button_to t("delete"),
              category_group,
              class: "btn",
              method: :delete,
              data: {
                confirm: t("are_you_sure"),
                turbo_confirm: t("are_you_sure"),
              } %>
            <% end %>
          </div>
        </tfoot>
      </table>
    <% end %>
  </div>
  <div class="btn-group">
    <% if @current_user&.admin? %>
      <%= link_to t("new_category_group"), new_category_group_path, class: "btn" %>
      <%= link_to t("new_category"), new_category_path, class: "btn" %>
    <% end %>
  </div>
</div>
