<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <%= image_tag("bullet.png") %>
      <span><%= t("forums") %></span>
    </div>
  </div>
  <div class="card-body">
    <% @category_groups.each do |category_group| %>
      <table class="nforumholder">
        <thead>
          <tr>
            <td colspan="6" class="nforumcaption">
              <%= category_group.name %>
              <span>
                <% if policy(category_group).destroy? %>
                  <%= button_to t("delete"),
                  category_group,
                  class: "btn",
                  method: :delete,
                  data: {
                    confirm: t("are_you_sure"),
                    turbo_confirm: t("are_you_sure"),
                  } %>
                <% end %>
              </span>
            </td>
          </tr>
          <tr>
            <td colspan="2" style="width:60%; text-align:center" class="nforumcaption2">Forums</td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("topics") %></td>
            <td style="width:10%; text-align:center" class="nforumcaption2"><%= t("replies") %></td>
            <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("last_post") %></td>
            <% if @current_user&.admin? %>
              <td style="width:20%; text-align:center" class="nforumcaption2"><%= t("actions") %></td>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <%= render(CategoryComponent.with_collection(category_group.categories)) %>
        </tbody>
      </table>
    <% end %>
  </div>
  <div class="btn-group">
    <% if @current_user&.admin? %>
      <%= link_to t("new_category"), new_category_path, class: "btn" %>
      <%= link_to t("new_category_group"), new_category_group_path, class: "btn" %>
    <% end %>
  </div>
</div>
