<div class="custom-card">
  <div class="card-header">
    <div class="header-content">
      <img src="/images/bullet.png" alt="Blue circle"> 
      <span>Forums</span> 
    </div>
  </div>
  <div class="card-body">
    <% if @category.topics.any? %>
      <h2><%= @category.name %></h2>
      <br />
      <% @category.topics.each do |topic| %>
        <div>
          <%= link_to topic.title, [@category, topic] %>
        </div>
      <% end %>
    <% else %>
      <p>There are no topics in this category yet.</p>
    <% end %>
  </div>
</div>




<br />

<% if policy(@category).create_topic? %>
<%= link_to "New Topic", new_category_topic_path(@category), class: 'btn btn-primary' %> 
<% end %>

<%= link_to "Back", :back, class: 'btn btn-secondary' %>

<br />

<% if policy(@category).edit? %>
  <%= link_to 'Edit', edit_category_path(@category) %>
<% end %>

<p>Does Pundit work here? <%= user_signed_in? %></p> 

<p>Current User: <%= @current_user.inspect %></p>
