<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <%= yield(:head) %>
  </head>
  <body>
    <%= render "shared/site_header" %>
    <main class="content-area">
      <div class="container">
        <%= render "shared/sidebar" %>
        <%= render "shared/site_content" %>
      </div>
    </main>
    <%= render "shared/site_footer" %>
  </body>
</html>
