<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag "favicon.ico" %>
    <!-- Add custom stylesheets and scripts here -->
    <%= yield(:head) %>
  </head>
  <body>
    <%= render "shared/flash" %>
    <%= render "shared/site_header" %>
    <main class="content-area">
      <div class="container">
        <%= render SidebarComponent.new(
          current_user: current_user,
          online_stats: @online_stats,
        ) %>
        <%= render "shared/site_content" %>
      </div>
    </main>
    <%= render "shared/site_footer" %>
  </body>
</html>
