<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Category</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <!-- Add custom stylesheets and scripts here -->
  <%= yield(:head) %>
</head>
<body>
  <header>
    <nav>
        <div><%= link_to 'Home', root_path %></div>
        <% if user_signed_in? %>
          <div>Welcome <%= current_user.email %></div> 
          <div><%= button_to 'Sign out', destroy_user_session_path, method: :delete %></div>
        <% else %>
          <div><%= button_to 'Sign in', new_user_session_path %></div>
        <% end %>
    </nav>
    <br />
    <section class="search-bar">
      <input />
    </section>
  </header>



  <main class="content-area">
    <div class="container">
    <aside class="sidebar">
      <div class="custom-card">
        <div class="card-header">
          <div class="header-content">
            <img src="/images/bullet.png" alt="Blue circle"> 
            <span>Main Menu</span> 
          </div>
        </div>
        <div class="card-body">
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to 'Forum', categories_path %></li>  
          <li><%= link_to 'Members', categories_path %></li>  
          <li><%= link_to 'Member Map', categories_path %></li>  
          <li><%= link_to 'HvWiki', categories_path %></li>  
          <li><%= link_to 'Chat Room', categories_path %></li>  
          <li><%= link_to 'Site Rules', site_rules_path %></li>  
        </ul>
        </div>
      </div>
    </aside>
  

      <div class="main-content">
        <%= yield %> </div>
    </div>
  </main>

  <footer class="site-footer">
    <div class="container">
      </div>
  </footer>
</body>
</html>
